# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/WfpTool.VC.db
src/WfpTool/Debug/
src/WfpTool.Api.Integrate/obj/
src/.vs/WfpTool/FileContentIndex/
src/.vs/
src/Debug/
src/WfpTool.Tests/WfpTool.Tests.vcxproj.user
src/WfpTool.Tests/Debug/
*.user
src/WfpTool.Api.Integrate/bin/
src/WfpTool.Api/Debug/
src/WfpTool.Api/Release/
src/Release/
